<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
	<div class="thumbnail">
		<h2>Wiki</h2>
		<img class="img-responsive" src="assets/images/wiki.jpg">
		<button [routerLink]="['/wiki']">Ir</button>
	
	</div>

	<div class="thumbnail">
		<h2>Crear Idea</h2>
		<img class="img-responsive" src="assets/images/crear.jpg">
		<button [routerLink]="['/createidea']">Ir</button>
	</div>

	
	<div class="thumbnail">
		<h2>Baul de Ideas</h2>
		<img class="img-responsive" src="assets/images/cofre.png">
		<button [routerLink]="['/baul']">Ir</button>
	</div>	



</body>